body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    color: #556B2F;
    text-align: center;
}

textarea, input, select, button {
    background-color: #f8f8f8;
    border: 1px solid #556B2F;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.gradio-container {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

#interface-title {
    font-size: 24px;
    color: #556B2F;
    text-align: center;
}

button {
    background-color: #556B2F;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6B8E23;
}
